.foot{
    background-color: #343434;
    height: 150px;
    
    >*{
        color:#8F8F8F;
    }

    .naveg{

        >.ulFooter{
            display: flex;
            flex-direction: column;
        }
    }


    .iconfoot{
        text-align: center;

        >.iconosFooter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            >*{
                margin: 0 15px;
                font-size: 1.75em;
            }
        }
    }
}