.foot{
    background-color: #343434;
    height: 175px;
    
    >*{
        color:#8F8F8F;
    }

    .naveg{

        >.ulFooter{
            display: flex;
            flex-direction: column;

            >*{
                color: white;
                text-decoration: none;
            }
            >*:hover{
                color: rgb(34, 167, 116);
                cursor: pointer;
            }
        }
    }



    .iconfoot{
        text-align: center;

        >.iconosFooter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            >*{
                margin: 0 15px;
                font-size: 2.3em;
                color: white;
            }

            >*:hover{
                color: rgb(34, 167, 116);
                cursor: pointer;
            }
        }
    }
    .rights{
      color: white;
    }
}

@media screen and(max-width: 450px) {
    .foot{
        height: 250px;
        color: white;
        .naveg{
            margin-bottom: 10px;
            text-align: center;
            .titleFoot__nav{
                font-size: 25px;
            }
            .ulFooter{
                flex-direction: row;
                justify-content: center;
                >*{
                    font-size: 18px;
                    margin: 0 10px;
                    color: white;
                }
            }
        }

        .iconfoot{
            margin-bottom: 10px;
            .titleFoot{
                font-size: 25px;
            }
        }
        .iconosFooter{
            >*{
                color: white;
            }
        }
    }
}